body{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/valentine-day-idea-background-concept-royalty-free-image-1578085681.jpg?crop=1.00xw:0.792xh;0,0.208xh&resize=1200:*");
    background-repeat: no-repeat;
    background-size: cover;
}
